@model IEnumerable<Models.Client.Data.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Comptes</h1>
    <div class="basic-info">
        <a id="newAccount" asp-controller="Account" asp-action="Create" class="btn btn-success"> Ajouter un compte</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <td>
                Nom du compte
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-label="Nom du Compte">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="/Account/Edit/@item.Id"><img id="modify" src="img/modify.png" alt="bin-modify"></a>
                <a href="/Account/Delete/@item.Id"><img id="bin-delete" src="img/bin-delete.png" alt="bin-del"></a>
            </td>
        </tr>
}
    </tbody>
</table>
