@model MoneyManager.Website.Models.Forms.LoginRegisterForm
    @{
        ViewData["Title"] = "Login";
    }
    <head>
        <link rel="stylesheet" href="~/css/Login.css" />
    </head>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">S'identifier</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">S'enregistrer</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="group">
                            <label asp-for="LoginViewModel.Email" class="label">Adresse e-mail</label>
                            <input asp-for="LoginViewModel.Email" class="input" />
                            <span asp-validation-for="LoginViewModel.Email" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="LoginViewModel.Password" class="label">Mot de passe</label>
                            <input asp-for="LoginViewModel.Password" class="input" />
                            <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Valider">
                        </div>
                    </form>
                    <div class="hr"></div>
                </div>
                <div class="sign-up-htm">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="group">
                            <label asp-for="RegisterViewModel.Username" class="label">Nom d'utlisateur</label>
                            <input asp-for="RegisterViewModel.Username" class="input" />
                            <span asp-validation-for="RegisterViewModel.Username" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="RegisterViewModel.Password" class="label">Mot de passe</label>
                            <input asp-for="RegisterViewModel.Password" class="input" />
                            <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="RegisterViewModel.Confirm" class="label">Confirmer le mot de passe</label>
                            <input asp-for="RegisterViewModel.Confirm" class="input" />
                            <span asp-validation-for="RegisterViewModel.Confirm" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="RegisterViewModel.Email" class="label">Adresse e-mail</label>
                            <input asp-for="RegisterViewModel.Email" class="input" />
                            <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Valider">
                        </div>
                        <div class="hr"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
