@model Models.Client.Data.TransactionAccount

@{
    ViewData["Title"] = "Index";
}
<a id="Budget" asp-controller="Category" asp-action="BudgetLimit" class="btn btn-info">Voir budget</a>
<div class="accounts">
    <div class="select">
        <select class="selectAccount" onchange="GetByAjaxChange()" name="format" id="format">
            <option value="0" selected>Tous les comptes</option>
            @foreach (var item in Model.account)
            {
                <option value="@item.Id">@item.Description</option>
            }
        </select>
    </div>
    <div id="total" class="balance"></div>
    <a type="button" class="btn btn-warning manageB" asp-controller="Account" asp-action="Index"> Gérer les comptes</a>
    <a type="button" class="btn btn-warning manageB" asp-controller="Category" asp-action="Index"> Gérer les catégories</a>
</div>

<div class="basic-info">
    <a id="newTransaction" data-transactWindow-target="#TransactWindows" class="btn btn-success"> Nouvelle transaction</a>
    <div id="resultByPage">Résultats par page : </div>
    <select onchange="GetByAjaxCurrentPage(page)" name="selectRows" id="selectRows">
        <option value="30000" selected>Tout</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
    </select>
</div>
<div class="transactWindow" id="transactWindow">
    <div class="modal-header">
        <div class="titleTransact">Nouvelle transaction</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="display:none;">
                        <label class="control-label">AccountId</label>
                        <input id="UserAccountId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input id="Description" class="form-control" />
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            Dépense ?
                            <input type="checkbox" id="ExpenseOrIncome" checked />
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Montant</label>
                        <input id="Amount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Catégorie</label>
                        <select id="Categories" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="button" id="btnSubmit" onclick="PostByAjax()" value="Valider la transaction" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay"></div>
<table id="transact-table">
</table>
<div class="pageManager">
    <input class="buttonPage" id="PageMoinsButton" type="button" value="Page précédente" onclick="GetByAjaxMoins()">
    <input class="buttonPage" type="button" value="Page suivante" onclick="GetByAjax()">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='~/js/transactions.js'></script>
<script src="~/js/modal.js"></script>

@section scripts{
    <script type="text/javascript">
        window.onload = Page();
        window.onload = CallAjax(page);
        window.onload = DisplayPopup();
        function Page() {
            page = 1;
        }
        function DisplayPopup() {
            var millisecondsToWait = 500;
            setTimeout(function () {
                let doc = document.getElementById("transactWindow");
                doc.style.display = "block";
            }, millisecondsToWait);
        }

function openModal(modal) {
    if (modal == null) return
    modal.classList.add('active');
    overlay.classList.add('active');
    $.ajax({
        url: '@Url.Action("GetCategories")',
        type: "GET",
        dataType: "json",
        success: function (response) {
            var element = document.getElementById("Categories");
            while (element.firstChild) {
                element.removeChild(element.lastChild);
            }
            if (response.length === 0) {
                $("Categories").append("<option>Categories not found!</option>");
            }
            else {
                response.forEach(function (Category) {
                    addCategoryIntoSelect(Category.name, Category.id);
                });
            }
        },
        failure: function (response) {
            alert(response);
        }
    });
    function addCategoryIntoSelect(Name, Id) {
        let option = document.createElement("option");
        option.text = Name;
        option.value = Id;
        var element = document.getElementById("Categories");
        element.appendChild(option);
        console.log(option.text);
        console.log(option.value);
    }
}
    </script>

}
<link href="~/css/transactions.css" rel="stylesheet" />
<link href="~/css/modal.css" rel="stylesheet" />
