@model MoneyManager.Website.Models.Forms.DisplayDetailsCategory

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Suppression d'une catégorie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetLimit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
