@model IEnumerable<Models.Client.Data.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Catégories</h1>
    <div class="basic-info">
        <a id="newCategory" asp-controller="Category" asp-action="Create" class="btn btn-success"> Nouvelle catégorie</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <td>
                Nom de la catégorie
            </td>
            <td>
                Budget limite
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-label="Nom catégorie">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td data-label="budget limite">
                @if (item.BudgetLimit == null)
                {
                    <span>/</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.BudgetLimit)
                }
            </td>
            <td>
                <a href="/Category/Edit/@item.Id"><img id="modify" src="img/modify.png" alt="bin-modify"></a>
                <a href="/Category/Delete/@item.Id"><img id="bin-delete" src="img/bin-delete.png" alt="bin-del"></a>
            </td>
        </tr>
}
    </tbody>
</table>
